@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');
.themeUm:root {

    --bkg: hsl(0, 0%, 90%);
    --bkgTeclado: hsl(0, 5%, 81%);
    --bkgVisor: hsl(0, 0%, 93%);

    --bkgTeclaF: hsl(185, 42%, 37%);
    --shadowTeclaF: hsl(185, 58%, 25%);

    --bkgteclaClick: hsl(25, 98%, 40%);
    --shadowTeclaClick: hsl(25, 99%, 27%);

    --bkgTecla: hsl(45, 7%, 89%);
    --shadowTecla: hsl(35, 11%, 61%);

    --white: white;
    --text: hsl(60, 10%, 19%);

    --corDel: white;
    --corReset: white;
    --corIgual: white;

    --corFonteVisor: hsl(60, 10%, 19%);
    --headerFontCor:  hsl(60, 10%, 19%);

    --font-family: 'League Spartan', sans-serif;
}
.themeDois:root{
    --bkg:  hsl(222, 26%, 31%);
    --bkgTeclado: hsl(223, 31%, 20%);
    --bkgVisor:  hsl(224, 36%, 15%);

    --bkgTeclaF:  hsl(225, 21%, 49%);
    --shadowTeclaF: hsl(224, 28%, 35%);

    --bkgteclaClick: hsl(6, 63%, 50%);
    --shadowTeclaClick:hsl(6, 70%, 34%);

    --bkgTecla:  hsl(30, 25%, 89%);
    --shadowTecla: hsl(28, 16%, 65%);

    --text:hsl(221, 14%, 31%);
    --white: white;

    --corDel: white;
    --corReset: white;
    --corIgual: white;

    --corFonteVisor: white;
    --headerFontCor: white;


    --font-family: 'League Spartan', sans-serif;
    
}
.themeTres:root{
    --bkg: hsl(268, 75%, 9%);
    --bkgTeclado: hsl(268, 71%, 12%);
    --bkgVisor: hsl(268, 71%, 12%);

    --bkgTeclaF:hsl(281, 89%, 26%);
    --shadowTeclaF:  hsl(285, 91%, 52%);

    --bkgteclaClick: hsl(176, 100%, 44%);
    --shadowTeclaClick: hsl(177, 92%, 70%);

    --bkgTecla: hsl(268, 47%, 21%);
    --shadowTecla:hsl(290, 70%, 36%);

    --lightYellow: hsl(52, 100%, 62%);
    --white: white;
    --text:hsl(52, 100%, 62%);
    --font-family: 'League Spartan', sans-serif;

    --corDel: white;
    --corReset: white;
    --corIgual: hsl(268, 47%, 21%); ;

}
.box-theme{
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.theme__titulo{
    position: relative;
    top: 66%;
    right: 150%;
}
.theme-label{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.input-theme{
    appearance: none;
    cursor: pointer;
    padding: 5px;
    border-radius: 1rem;
    margin: 0;
    width: 70px;
    background-color: var(--bkgTeclado);
}
.input-theme::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%; 
    background: var(--bkgteclaClick);
    cursor: pointer;
}

.input-theme::-moz-range-thumb {
    width: 16px;
    height: 16px;
    border-radius: 50%; 
    background: var(--bkgteclaClick);
    cursor: pointer;
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    background-color: var(--bkg);
    color: var(--text);
    height: 100vh;
    font-weight: 700;
}
.container {
    max-width: 90%;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
    color: var(--headerFontCor);
}
.header h1{
    font-size: 2rem;
}

.calculadora {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    padding-bottom: 2rem ;
}

.visor {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 2rem;
    width: 90%;
    height: 5rem;
    background-color: var(--bkgVisor);
    color: var(--corFonteVisor);
    border-radius: 8px;
}
.visor__value{
    font-size: 2rem;
}

.teclado {
    width: 90%;
    display: grid;
    align-items: center;
    padding: 1.5rem;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    grid-template-rows: repeat(5, 15.4vw);
    background-color: var(--bkgTeclado);
    border-radius: 1rem;
}

.tecla {
    border-radius: 6px;
    width: 100%;
    height: 100%;
    border-bottom: 4px solid var(--shadowTecla);
    background-color: var(--bkgTecla);
}

.tecla:nth-child(17) {
    grid-row: 5 / 6;
    grid-column: 1 / 3;
    background-color: var(--bkgTeclaF);
    border-bottom: 4px solid var(--shadowTeclaF);
    color: var(--corReset);
  
}
.tecla:nth-child(4){
    background-color: var(--bkgTeclaF);
    border-bottom: 4px solid var(--shadowTeclaF);
    color: var(--corDel);
}

.tecla:nth-child(18) {
    grid-row: 5 / 6;
    grid-column: 3 / 5;
    background-color: var(--bkgteclaClick);
    border-bottom: 4px solid var(--shadowTeclaClick);
    color: var(--corIgual);
}

.teclado__input {

    outline: none;
    border: none;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 1.5rem;
    border-radius: 6px;
    background-color: inherit;
    color: inherit;
    font-weight: 700;
    font-family: var(--font-family);
}

.tecla input::-webkit-inner-spin-button,.tecla input::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 500px) {
    .calculadora{
        width: 400px;
        margin: 0 auto;
        height: 550px;
    }
    .teclado{
        grid-template-rows: repeat(5,1fr);
        height: 100%;
    }
    .tecla input:hover{
        
        cursor: pointer;
    }
    .header.container{
        padding: 2rem 0 2rem 0;
        width: 400px;

    }
    .teclado,.visor{
        width: 100%;
    }   
}